@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-from-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-from-top {
  animation: slide-from-top 0.6s ease-out;
}